@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-image: url("top-view.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 14px;
	line-height: 22px;
	color: #555555;
}

.bold {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.semi-bold {
	font-weight: 500;
	font-size: 16px;
}

.resume {
	width: 800px;
	height: auto;
	display: flex;
	margin: 50px auto;
	box-shadow: 0px 0px 25px 15px #eee;
}

.resume .resume-left {
	width: 280px;
	background: #acc1b5;

}

.resume .resume-left .profile {
	width: 100%;
	height: 280px;
}

.resume .resume-left .profile img {
	width: 100%;
	height: 100%;
}

.resume .resume-left .content {
	padding: 0 25px;

}

.resume .resume-left ul li .icon {
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	margin-right: 15px;
	font-size: 16px;
	position: relative;
}

.resume .icon img {
	width: 20px;
	height: 20px;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.resume .title {
	margin-bottom: 20px;
}

.resume .resume-left .bold {
	color: #fff;
}

.resume .resume-left .regular {
	color: #f7f9f8;
	font-size: 16px;
}

.resume .resume-item {
	padding: 25px 0;
	border-bottom: 2px solid #f7f9f8;
}

.resume .resume-left .resume-item:last-child {
	border-bottom: 0px;
}

.resume .resume-left ul li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.resume .resume-left ul li:last-child {
	margin-bottom: 0px;
}

.resume .resume-left ul li .data {
	color: #f7f9f8;
}

.resume .resume-left .skills ul li {
	color: #f7f9f8;
	justify-content: space-between;
}

.resume .resume-left .skills ul li .skill-name {
	width: 25%;
}

.resume .resume-left .skills ul li .skill-progress {
	width: 60%;
	margin: 0 5px;
	height: 5px;
	background: #fff;
	position: relative;
}

.resume .resume-left .skills ul li .skill-per {
	width: 15%;
}

.resume .resume-left .skills ul li .skill-progress span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #d080da;
}

.resume .resume-right {
	width: 520px;
	background: #fff;
	padding: 25px;
}

.resume .resume-right .bold {
	color: #d080da;
}

.resume .resume-right .work ul,
.resume .resume-right .education ul {
	padding-left: 40px;
	overflow: hidden;
}


.resume .resume-right ul li {
	position: relative;
}


.resume .resume-right ul li .date {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;

}

.resume .resume-right ul li .info {
	margin-bottom: 20px;
}

.resume .resume-right ul li:last-child .info {
	margin-bottom: 0px;
}

.resume .resume-right .work ul li:before ,
.resume .resume-right .education ul li:before {
	content: "";
	position: absolute;
	top: 5px;
	left: -25px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 2px solid #d080da;
	background: #fff;
}

.resume .resume-right .work ul li:after,
.resume .resume-right .education ul li:after {
	content: "";
	position: absolute;
	top: 15px;
	left: -21px;
	width: 3px;
	height: 115px;
	background: #d080da;
}


.resume .resume-right .code {
	width: 600px;
	margin-left: -200px;
	padding: 40px 60px 10px 60px;
	background: #efefff;
}

.resume .resume-right .data {
	font-size: 16px;
	margin-top: -15px;
	margin-left: 15px;
}


