* {box-sizing:border-box}

body {
    background-color: #282b40;
}

/* Slideshow container */
.slideshow-container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 75% 25%;
  grid-template-rows: 93% 24%;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  padding: 10px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .slideshow-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 9% 9%;
  grid-column-gap: 0px;
  grid-row-gap: 10px;  
  padding: 10px;
  max-width: 550px;
  position: relative;
  margin: auto;
  margin-right: 10px;
  }

  .slides {
    display: none;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .dots {
    text-align: center;
    grid-row-start: 2;
  }

  .captions {
    grid-row-start: 3;
  }
}

/* Hide the images by default */
.slides {
  display: none;
  grid-column-start: 1;
  overflow: hidden;
  position: relative;
  grid-column-end: 3;
  max-height: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.caption {
    display: none;
}

.first{
    display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 17px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

.hover-area {
    width: 25px;
    height: 25px;
    display: inline;
}

.hover-area:hover {
    cursor: pointer;
}

.hover-area:hover .dot{
    background-color: white;
}

/* The dots/bullets/indicators */
.dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: rgb(173, 184, 250);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
    background-color: transparent;
    border: 2px solid white;
}

.active:hover {
    background-color: transparent;
    border: 2px solid white;
}

/* Fading animation */
.fade {
  position: relative;
  animation-name: fade;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
}

@keyframes fade {
  0%   {left:100px;}
  100% {left:0px;}
}